<h1>Editando libro</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>Se produjeron los siguientes errores al intentar editar el libro:</h2>

      <ul>
      <% @book.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author, "Autor" %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :lent, "¿Prestado?" %>
    <%= form.check_box :lent %>
  </div>

  <div class="field">
    <%= form.label :loan_date, "Fecha de préstamo" %>
    <%= form.date_select :loan_date %>
  </div>

  <div class="field">
    <%= form.label :return_date, "Fecha de devolución" %>
    <%= form.date_select :return_date %>
  </div>

  <div class="actions">
    <%= form.submit "Editar" %>
  </div>
<% end %>

<%= link_to 'Atrás', books_path %>
