<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Lent:</strong>
  <%= @book.lent ? "Prestado" : "En estante" %>
</p>

<p>
  <strong>Fecha de préstamo:</strong>
  <%= @book.loan_date %>
</p>

<p>
  <strong>Fecha de devolución:</strong>
  <%= @book.return_date %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Atrás', books_path %>
